name: Publish data files

on:
  push:
    branches:
      - main
    paths:
      - 'data/**'
      - 'src/**'
      - 'bin/**'
      - '.github/workflows/publish.yml'
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up
        uses: ./.github/actions/setup
      - name: Create .data directory
        run: mkdir -p .data
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: .data/gh-pages
          ref: gh-pages
      - name: Publish data file
        run: |
          bin/publish --upload

permissions:
  contents: write
